@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 600;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
img {vertical-align: middle; max-width: 100%;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle; overflow: hidden;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.pc {display: none !important;}
br.only-pc {content: '';}
br.only-pc::after {content: '\00a0';}


/* common */
body {font-family: 'Roboto', sans-serif; font-size: 15px; font-weight: 400; color: #000000; background: #ffffff;}

#wrapper {min-width: 320px; max-width: 1024px; margin: 0 auto; overflow: hidden;}

#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.7); color: #ff4a32; font-size: 14px; transition: top 0.3s; z-index: 100000;}
#skip-nav:focus {top: 0;}





/* #wrapper {min-width: 1024px; overflow: hidden;} */




#header {position: fixed; left: 0; top: 0; width: 100%; height: 80px; font-weight: 500; letter-spacing: 1px; font-size: 14px; background: pink; z-index: 10000;}
#header div.checkout {position: absolute; left: 0; top: 0; width: 100%; line-height: 28px; font-size: 12px; letter-spacing: 2px; text-align: center; color: #ffffff; background: #000000;}  
#header div.header-nav {position: absolute; left: 0; bottom: 0; width: 100%; height: 52px; background: tomato;}
#header div.header-nav > h1 a{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 180px; background: rebeccapurple;}
#header div.header-nav > h1 a img {width: 100%;}
#header div.header-nav > ul#top-menu {position: absolute; right: 10px; top: 50%; transform: translate(0,-50%); background: cornflowerblue;}
#header div.header-nav > ul#top-menu > li {float: left; transition: all 0.5s; display: block;}
#header div.header-nav > ul#top-menu > li + li {margin-left: 10px;}
#header div.header-nav > ul#top-menu > li a {display: inline-block; font-size: 18px; background: red;}

#header #gnb a.QUICK {position: absolute; left: 10px; top: 50%; transform: translate(0,-50%); width: 18px; height: 16px; z-index: 10; background: tan;}
#header #gnb a.QUICK::before {content: ''; position: absolute; left: 0; top: 0; width: 18px; height: 2px; background: #000000; transition: all 0.3s;}
#header #gnb a.QUICK > span {position: absolute; left: 0; top: 50%; transform: translate(0, -50%); width: 18px; height: 2px; background: #000000; transition: all 0.3s; text-indent: -9999px;}
#header #gnb a.QUICK::after {content: ''; position: absolute; left: 0; bottom: 0; width: 18px; height: 2px; background: #000000; transition: all 0.3s;}
#wrapper.open #header #gnb a.QUICK::before {top: 50%; transform: rotate(35deg) translate(0, -50%);}
#wrapper.open #header #gnb a.QUICK span {opacity: 0;}
#wrapper.open #header #gnb a.QUICK::after {bottom: 50%; transform: rotate(-35deg) translate(0, 50%);}

#header #gnb > ul {position: relative; left: 0; top: 52px; width: 100%; height: 100vh; background: #ffffff; display: none;}
#header #gnb > ul li {padding-left: 20px; padding-top: 10px; font-size: 12px; font-weight: 500; letter-spacing: 1px; line-height: 1.5; background: tomato; transition: all 0.5s;}
#header #gnb > ul li a{display: block; padding-bottom: 8px;}
#header #gnb > ul li a:hover {color: #ff4a32;}
#header #gnb > ul li a.toggle {position: relative; left: 0; top: 0; display: block; background: yellow;}
#header #gnb > ul li a.toggle i {position: absolute; right: 20px; top: 50%; transform: translate(0,-50%); transition: all 0.5s; background: wheat;}
#header #gnb > ul li a.toggle i:hover {transform: rotate(180deg);}

#header #gnb > ul li > ul {display: none;}
#header #gnb > ul li:hover > ul {display: block;}
#header #gnb > ul li:hover > ul li {position: relative; left: 0; top: 0; line-height: 1.5; font-size: 14px;  background: lightgreen}
#header #gnb > ul li:hover > ul li::after{content: ''; position: absolute; left: 0; top: 0; width: 1.5px; height: 100%; background: #000000;}

#header.on {position: fixed; left: 0; top: 0; width: 100%; height: 52px; font-weight: 500; letter-spacing: 1px; font-size: 14px; background: pink; z-index: 10000;}
#header.on div.checkout {position: absolute; left: 0; top: 0; width: 100%; line-height: 28px; font-size: 12px; letter-spacing: 2px; text-align: center; color: #ffffff; background: #000000; display: none;}  
#header.on div.header-nav {position: absolute; left: 0; bottom: 0; width: 100%; height: 52px; background: tomato;}
#header.on div.header-nav > h1 a{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 180px; background: rebeccapurple;}
#header.on div.header-nav > h1 a img {width: 100%;}
#header.on div.header-nav > ul#top-menu {position: absolute; right: 10px; top: 50%; transform: translate(0,-50%); background: cornflowerblue;}
#header.on div.header-nav > ul#top-menu > li {float: left; transition: all 0.5s; display: block;}
#header.on div.header-nav > ul#top-menu > li + li {margin-left: 10px;}
#header.on div.header-nav > ul#top-menu > li a {display: inline-block; font-size: 18px; background: red;}

#header.on #gnb a.QUICK {position: absolute; left: 10px; top: 50%; transform: translate(0,-50%); width: 18px; height: 16px; z-index: 10; background: tan;}
#header.on #gnb a.QUICK::before {content: ''; position: absolute; left: 0; top: 0; width: 18px; height: 2px; background: #000000; transition: all 0.3s;}
#header.on #gnb a.QUICK > span {position: absolute; left: 0; top: 50%; transform: translate(0, -50%); width: 18px; height: 2px; background: #000000; transition: all 0.3s; text-indent: -9999px;}
#header.on #gnb a.QUICK::after {content: ''; position: absolute; left: 0; bottom: 0; width: 18px; height: 2px; background: #000000; transition: all 0.3s;}
#wrapper.open #header.on #gnb a.QUICK::before {top: 50%; transform: rotate(35deg) translate(0, -50%);}
#wrapper.open #header.on #gnb a.QUICK span {opacity: 0;}
#wrapper.open #header.on #gnb a.QUICK::after {bottom: 50%; transform: rotate(-35deg) translate(0, 50%);}

#header.on #gnb > ul {position: relative; left: 0; top: 52px; width: 100%; height: 100vh; background: #ffffff; display: none;}
#header.on #gnb > ul li {padding-left: 20px; padding-top: 10px; font-size: 12px; font-weight: 500; letter-spacing: 1px; line-height: 1.5; background: tomato; transition: all 0.5s;}
#header.on #gnb > ul li a{display: block; padding-bottom: 8px;}
#header.on #gnb > ul li a:hover {color: #ff4a32;}
#header.on #gnb > ul li a.toggle {position: relative; left: 0; top: 0; display: block; background: yellow;}
#header.on #gnb > ul li a.toggle i {position: absolute; right: 20px; top: 50%; transform: translate(0,-50%); transition: all 0.5s; background: wheat;}
#header.on #gnb > ul li a.toggle i:hover {transform: rotate(180deg);}

#header.on #gnb > ul li > ul {display: none;}
#header.on #gnb > ul li:hover > ul {display: block;}
#header.on #gnb > ul li:hover > ul li {position: relative; left: 0; top: 0; line-height: 1.5; font-size: 14px;  background: lightgreen}
#header.on #gnb > ul li:hover > ul li::after{content: ''; position: absolute; left: 0; top: 0; width: 1.5px; height: 100%; background: #000000;}


#footer div.pros{position: relative; left: 0; top: 0; width: 100%; height: auto; background: #000000; color: #ffffff;  overflow: hidden;}
#footer div.pros ul {text-align: center; margin-top: 18px; margin-bottom: 30px;}
#footer div.pros ul > li {padding: 20px; display: block; }
#footer div.pros ul > li img {width: 26%;}
#footer div.pros ul > li em {font-size: 32px; font-weight: 700; line-height: 1.125; display: block; margin-top: 10px; margin-bottom: 24px;}
#footer div.pros ul > li p {padding: 0 30px; line-height: 1.5;}

#footer div.explain {position: relative; left: 0; top: 0; width: 100%; padding: 30px; background: #f7f7f7;}
#footer div.explain > img {width: 30%; transition: all 0.5s;}
#footer div.explain > img:hover {opacity: 0.7;}
#footer div.explain > div.footer-link {width: 90%;}
#footer div.explain > div.footer-link em {font-size: 20px; font-weight: 600; line-height: 2.5;}
#footer div.explain > div.footer-link ul {font-size: 14px; line-height: 1.5;}
#footer div.explain > div.footer-link ul a { transition: all 0.5s;}
#footer div.explain > div.footer-link ul a:hover {color: #ff4a32;}

#footer div.explain > div.about {width: 90%;}
#footer div.explain > div.about em {font-size: 20px; font-weight: 600; line-height: 2.5;}
#footer div.explain > div.about p {margin-top: 10px; font-size: 14px; line-height: 1.5; }
#footer div.explain > div.about address {margin-top: 15px;}
#footer div.explain > div.about address > span {display: block; font-size: 14px; line-height: 1.5;}


#footer div.extra {position: relative; left: 0; top: 0; width: 100%; height: 120px; background: #ffffff;}
#footer div.extra p.copyright {position: absolute; left: 20px; top: 20px; width: 60%; font-size: 13px; }
#footer div.extra p.copyright a {color: #ff4a32;}
#footer div.extra ul.payment {position: absolute; right: 20px; top: 20px; width: 24%; overflow: hidden; }
#footer div.extra ul.payment li {float: left; display: block; margin-left: 3px;}
#footer div.extra ul.payment li i { font-size: 28px; color:#000000;}








/*main*/

#main > #main-visual {position: relative; left: 0;  top: 0; width: 100%; height: 500px; overflow: hidden; margin-top: 52px; background: pink;}

#main > #main-visual h2 {position: absolute; left: 50%; top: 54%; transform: translate(-50%,0); text-align: center; background: powderblue;}
#main > #main-visual p {position: absolute; left: 50%; top: 66%; transform: translate(-50%,0); text-align: center; background: cornflowerblue;}

/* animation keyframes */

/*
@keyframes show-up {
  0% {transform: translate(0, 50px); opacity: 0;}
  100% {transform: translate(0, 0); opacity: 1;}
}
@keyframes show-up2 {
  0% {transform: translate(-50%, 50px); opacity: 0;}
  100% {transform: translate(-50%, 0); opacity: 1;}
}
@keyframes btn-effect-right {
  0% {transform: translate(0, 0);}
  100% {transform: translate(5px, 0);}
}
*/

